<html>
	<head>
		<title>Espera</title>
		<link rel="stylesheet" type="text/css" href="css/aguarde.css">

	</head>

	<body>
		<div>
			
			<form action = '/continuar' name="continuar" method='GET'>

				<output> aguarde </output>
						
			</form>

			<form action = '/continuarTeste' name="continuarTeste" method='GET'/>
		
		</div>
	</body>
	
</html>

<script>
	if("<%= fase %>" == "TREINO"){
		console.log(">>>>TREINO<<<")
		setTimeout(function(){  
			document.continuar.submit();
			console.log("<%=ITI%>");
		}, "<%= ITI %>");
	}

	if("<%= fase %>" == "TESTE"){
		console.log(">>>>TREINO<<<")
		setTimeout(function(){  
			document.continuarTeste.submit();
			console.log("<%=ITI%>");
		}, "<%= ITI %>");
	}

</script>