<html>
        <!-- comit de teste -->
	<head>
		<title>Configuracoes</title>
        <link rel="stylesheet" type="text/css" href="css/config.css">
        
        <form autocomplete="off" action='/' method='GET'>	
            <h2><input type="submit" class="botao" id="resultados" value="Voltar" name="HOME"></input></h2>
        </form>
        
	</head>
<div class="container">		
        <head>
                <h1>Configurações</h1>                  
        </head>
       
        <body>
                <h2>Configurações Atuais</h2>

		<table>	
			<tr>	
				<th>Usar fator</th>
                                <th>Fator (segundos)</th>
                                <th>Som</th>
                                <th>Texto guia 01</th>
                                <th>Texto guia 02</th>				
			</tr>
		
			<tr>
				<td> <%= difOnTd %> </td>
                                <td> <%= difMinTd %> </td>
                                <td> <%= somTd %> </td>
                                <td> <%= txtTd01 %> </td>
                                <td> <%= txtTd02 %> </td>
			</tr>
		</table>


                <form action = '/configurar' method= 'post'>
                        <br>
                        <label id="somLabel"> Áudio do Experimento </label>
                        <input type="file" id="som" name="som"  accept="audio/*" required></input>  
                        <input title="Usar fator" onclick="verify()" type="checkbox" name="difOn" id="difOn">
                                <input id="label" value="Usar fator">
                        </input>
                        <input  type="number" id="difMin" name="difMin" placeholder="Fator de Diferença (s)"  disabled required></input>
                        <textarea placeholder="Texto guia tela 01"  id="txtguia01" name="txtguia01" class="txtguia"></textarea> 
                        <textarea placeholder="Texto guia tela 02"  id="txtguia02" name="txtguia02" class="txtguia"></textarea>
                        <input type="submit" id="definir" class="botao" value="Definir" name="definir" > </input>
                </form>    
        </body>
</div>

</html>

<script type="text/javascript">
        function verify(){
              var check = document.getElementById("difOn");
              var campoFator = document.getElementById("difMin");
              if(check.checked==true){
                      campoFator.disabled = false;
              }else{
                      campoFator.disabled = true;
              }
        }

</script>